/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* DONE WITH RESET */





header nav {
    display: inline-flex;
    width: 691px;
    vertical-align: top;
    margin-top: 35px;
  }
  
  header nav a {
    display: inline-flex;
    margin-right: 65px;
    font-size: 14px;
    color: gray;
    text-decoration: none;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  header nav a:first-child {
    margin-left: 0;
  }
  
  header nav a:last-child {
    margin-right: 0;
  }
  
  header .logo {
    display: inline-flex;
    margin-top: 25px;
  }

  hr {
    border-top: 1px solid black; 
  }
  
.services{
    width: 880px;
    /* TB LR */
    margin: 0 auto;
    line-height: 130% !important;
    font: inherit;
    }
  
  
  .services-header-img {
   margin-top: 20px;
   margin-bottom: 20px;
  }
  
  .service {
    margin: 25px 0 40px 0;
  }
  
  .service h1{
    font-size: 30px;
  }
  
  
  .services .holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  .services .holder .item {
    height: 250px;
    width:  420px;
    border: solid;
    border-width: thin;
    background-color:#eaedf2;
    padding: 20px;
    margin: 20px 0 20px 0;
  
  }
  
  .services .w3-round-large {
    border-radius: 4px;
  }
  .services .w3-btn {
    margin: 5px 0;
    padding: 8px 35px 8px 35px;
    font-size: 13px;
  }
  
  .services .w3-border {
    border-color: black;
  }
  
  .services .holder p {
    margin: 15px 0 15px 0;
  }
  
  .services .holder .box {
    height: 35px;
    width: 150px;
    border: solid;
    border-width: thin;
    border-radius: 4px;
    background-color: white;
  }
  
  .services .holder .box p {
    margin: 0;
    position: relative;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    font-size: 13px;
  }
  
  .end {
    display: flex;
    justify-content: space-between;

  }

  .facts{
    height: 45px;
    width: 400px;
  }

  .facts ul {
      position: relative;
      top: 20px;
      left: 20px;
  }

  li {
    list-style-type: square;
    padding: 5px;
  }

  footer {
      text-align: center;
      margin: 100px 0 20px 0;
  }